* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.figure-image {
    width: 3rem;
    height: 3rem;
}

.media-icon {
    width: 1rem;
    height: 1rem;
}

.figure-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 8rem;
    padding: 1rem 1rem 1rem 1.25rem;
}

.main-header {
    background-color: #4DACDC;
    height: 7.5rem;
}

.main-header div {
    display: inline-block;
    background-color: white;
    font-size: 3rem;
    color: #4DACDC;
    text-align: center;
    box-shadow: 15px 15px 20px rgb(31, 169, 225);
    width: 4rem;
    height: 4rem;
    margin-left: 9.3rem;
}

.main-header button {
    font-size: 1.5rem;
    width: 6.25rem;
    right: 6.25rem;
    height: 4.6rem;
    position: absolute;
    margin-top: 1rem;
    background-color: #4DACDC;
    border: none;
}

.main-download {
    background-color: #4DACDC;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: right;
    min-height: 250px;
    gap: 15px;
}

.main-download h1 {
    font-weight: 550;
    right: 6.5rem;
    position: absolute;
    font-size: 3rem;
    margin-top: 0.5rem;
}

.main-download p {
    font-weight: 300;
    right: 100px;
    margin-top: 4rem;
    position: absolute;
    font-size: 1.40rem;
    margin-bottom: 1px;

    & span {
        font-weight: bold;
    }
}

.main-download button {
    margin-top: 7rem;
    right: 6rem;
    position: absolute;
    background-color: #4DACDC;
    color: white;
    border: 2px solid white;

    & span {
        background-color: #4DACDC;
        color: white;
        font-size: 0.70rem;
    }
}

.main-download figure .figure-image {
    position: absolute;
    height: 215px;
    width: 151px;
    clip-path: inset(0 0 50% 0);
    margin-top: 8.9rem;
    margin-left: 11rem;
}

.longwinded-header {
    background-color: rgb(234, 234, 234);
    border: 1px solid black;
    height: 33rem;

    & h2 {
        margin-top: 6rem;
        margin-left: 8rem;
        font-weight: 100;
        font-size: 2rem;
    }

    & p {
        margin-top: 1rem;
        margin-left: 8rem;
        font-weight: 100;
        color: gray;
        font-size: .75rem;
        line-height: 1.25rem;
    }

    & .info {
        border-left: 0.35rem solid #4DACDC;
        padding-left: 1rem;
        padding-top: 0px;
        line-height: 1.25rem;
        font-size: .75rem;
    }

    & button {
        margin-top: 4rem;
        margin-left: 8rem;
        position: absolute;
        color: cadetblue;
        border: 2px solid cadetblue;

        & span {
            font-size: 0.70rem;
        }
    }
}

.longwinded-header figure .figure-image {
    margin-top: 6rem;
    right: 0rem;
    clip-path: inset(0 0 50% 0);
    position: absolute;
    width: 14rem;
    height: 53.7rem;
}

.trailer-section {
    height: 25rem;

    & h3 {
        margin-top: 6rem;
        margin-left: 32rem;
        font-weight: 100;
        font-size: 2rem;
    }

    & .trailer-notes-one {
        margin-top: 2rem;
        margin-left: 32rem;
        font-weight: 400;
        font-size: .75rem;
        line-height: 1.25rem;
    }

    & .trailer-notes-two {
        margin-top: 1.5rem;
        margin-left: 32rem;
        font-weight: 400;
        color: rgb(176, 173, 173);
        font-size: .75rem;
        line-height: 1.25rem;
    }

    & button {
        margin-top: 2.5rem;
        margin-left: 32rem;
        position: absolute;
        color: rgb(251, 116, 139);
        border: 2px solid rgb(251, 116, 139);
        background-color: white;
        width: 13rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & span {
            white-space: nowrap;
        }
    }
}

.trailer-section {
    & .trailer-section-phones {
        & .macbook-retina {
            margin-top: 20rem;
            clip-path: inset(0 0 32% 0);
            position: absolute;

            & img {
                width: 10rem;
            }
        }

        & .imac {
            margin-top: 11rem;
            position: absolute;
            margin-left: 3.3rem;
            clip-path: inset(0 0 5% 0);

            & img {
                width: 60%;
            }
        }

        & .ipad {
            margin-top: 15.75rem;
            position: absolute;
            margin-left: 17rem;
            clip-path: inset(0 0 15% 0);

            & img {
                width: 70%;
            }
        }

        & .iphone5 {
            margin-top: 20rem;
            position: absolute;
            margin-left: 23rem;
            clip-path: inset(0 0 49% 0);
        }

        & .ipad-mini {
            margin-top: 18rem;
            position: absolute;
            margin-left: 25.5rem;
            clip-path: inset(0 0 35% 0);
        }
    }
}

.feedback {
    height: 15rem;
    background-color: rgb(29, 185, 133);

    & h3 {
        margin-top: 4rem;
        margin-left: 20rem;
        font-weight: 100;
        font-size: 2rem;
        position: absolute;
        color: white;
    }

    & button {
        margin-top: 8rem;
        margin-left: 23.5rem;
        position: absolute;
        color: white;
        border: 2px solid cadetblue;
        width: 11rem;
        background-color: rgb(29, 185, 133);
        border: 2px solid white;

        & span {
            padding-left: 10px;
            font-size: 0.75rem;
        }
    }
}

.links-section {
    background-color: rgb(234, 234, 234);
    height: 30rem;

    & .social-links {
        margin-top: 10rem;
        margin-left: 19rem;
        position: absolute;

        & a {
            padding: 1rem;
            color: rgb(234, 234, 234);
        }
    }
}

.links-section .subscription-section {
    margin-top: 15rem;
    margin-left: 19rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & p {
        margin-top: .5rem;
        color: rgb(123, 123, 123);
        font-size: .80rem;
    }

    & input {
        border-radius: .5rem;
        padding: .5rem;
        border: none;

        &::placeholder {
            color: rgb(123, 123, 123);
            font-size: .75rem;
        }
    }

    & figure {
        margin-top: .5rem;
    }
}

footer {
    height: 4rem;
    & p {
        margin-top: 3rem;
        margin-left: 22rem;
        font-size: .75rem;
        color: rgb(123, 123, 123);
    }
}